.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .about-left {
    flex-basis: 790px;
    padding: 20px;
    @include border($btn-background, double, 5px, 50px);
    h4 {
      @include title;
    }
    p {
    }
    a {
      @include btn;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
  .about-menu {
    flex-basis: 150px;
    background-color: $border-color;
    padding: 20px;
    ul {
      list-style: none;
      li {
        margin-bottom: 5px;
        padding-bottom: 5px;
        a {
          text-decoration: none;
          color: #333;
          font-size: 18px;
          font-weight: 600;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
