.services {
  display: flex;
  padding: 25px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  .single-service {
    flex-basis: 305px;
    background-color: #fafafa;
    padding: 20px;
    @include border($btn-background, dashed, 3px, 15px);
    h4 {
      @include title;
    }
    a {
      @include btn;
      &:hover {
        background-color: $btn-hover;
      }
    }
  }
}
