@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 100px auto;
  border: 1px solid #7eca05;
  padding: 20px;
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

img {
  max-width: 100%;
}

.header-area {
  display: flex;
  align-items: center;
}
.header-area .logo-area {
  width: 40%;
}
.header-area .logo-area .logo a {
  display: inline-block;
}
.header-area .logo-area .logo a img {
  width: 100px;
}

.main-menu {
  width: 60%;
  background: tomato;
}
.main-menu nav ul {
  list-style: none;
  display: flex;
}
.main-menu nav ul li {
  margin-right: 20px;
}
.main-menu nav ul li a {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.4s;
}
.main-menu nav ul li a:hover {
  background-color: teal;
}

.services {
  display: flex;
  padding: 25px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.services .single-service, .services .service4, .services .service3, .services .service2, .services .service1 {
  flex-basis: 305px;
  background-color: #fafafa;
  padding: 20px;
  border-color: #cf649a;
  border-style: dashed;
  border-width: 3px;
  border-radius: 15px;
}
.services .single-service h4, .services .service4 h4, .services .service3 h4, .services .service2 h4, .services .service1 h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e40909;
  font-family: "Big Shoulders Display", cursive;
}
.services .single-service a, .services .service4 a, .services .service3 a, .services .service2 a, .services .service1 a {
  display: inline-block;
  background: #cf649a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  text-transform: uppercase;
}
.services .single-service a:hover, .services .service4 a:hover, .services .service3 a:hover, .services .service2 a:hover, .services .service1 a:hover {
  background-color: tomato;
}

/* ---- Extend Page css ---- */
.single-service, .service4, .service3, .service2, .service1 {
  flex-basis: 305px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  background-color: teal;
}

.service1 {
  background-color: burlywood;
}

.service2 {
  background-color: #289628;
}

.service3 {
  background-color: #0563af;
  text-align: right;
}

.service4 {
  background-color: #941578;
  text-align: center;
}

.btn, .btn-blue, .btn-red, .btn-green {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}

.btn-green {
  background-color: green;
  text-transform: uppercase;
}

.btn-red {
  background-color: red;
  text-transform: capitalize;
}

.btn-blue {
  background-color: blueviolet;
  text-transform: lowercase;
}

.btn-round {
  border-radius: 40px;
}

.ext-body {
  border: none;
  padding: 0;
}

.ext-services {
  display: flex;
  padding: 25px 0;
  padding-bottom: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.ext-services .single-service h4, .ext-services .service1 h4, .ext-services .service2 h4, .ext-services .service3 h4, .ext-services .service4 h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e40909;
  font-family: "Big Shoulders Display", cursive;
  color: #fff;
}
.ext-services .single-service p, .ext-services .service1 p, .ext-services .service2 p, .ext-services .service3 p, .ext-services .service4 p {
  color: #fff;
  line-height: 24px;
}
.ext-services .single-service a:hover, .ext-services .service1 a:hover, .ext-services .service2 a:hover, .ext-services .service3 a:hover, .ext-services .service4 a:hover {
  background-color: tomato;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .about-left {
  flex-basis: 790px;
  padding: 20px;
  border-color: #cf649a;
  border-style: double;
  border-width: 5px;
  border-radius: 50px;
}
.about .about-left h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e40909;
  font-family: "Big Shoulders Display", cursive;
}
.about .about-left a {
  display: inline-block;
  background: #cf649a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  text-transform: uppercase;
}
.about .about-left a:hover {
  background-color: tomato;
}
.about .about-menu {
  flex-basis: 150px;
  background-color: #7eca05;
  padding: 20px;
}
.about .about-menu ul {
  list-style: none;
}
.about .about-menu ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.about .about-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
.about .about-menu ul li a:hover {
  color: #fff;
}

footer {
  margin-top: 20px;
}
footer p {
  background-color: tomato;
  text-align: center;
  color: #fff;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
