@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 100px auto;
  border: 1px solid $border-color;
  padding: 20px;
}
a {
  color: $link-color;
  text-decoration: none;
  transition: 0.3s;
}
img {
  max-width: 100%;
}
