$primary-color: tomato;
$heading-color: #e40909;
$link-color: #333;
$btn-background: rgb(107, 0, 128);
$btn-hover: tomato;
$heading-font: "Big Shoulders Display", cursive;
$border-color: rgb(126, 202, 5);
